

/*Estilo de barra de navegacion*/
.navbar{
    background-color: #3F4242;
}

a.nav-link{
    color: white ;
}

.false{
    color: white;
}

/*Estilo de portada*/

 .row{
     background-color: #8AAFBC;
     margin:0%;
     }  


 .TituloPortada {
    margin-top: 80px;
    padding-left: 20px;
    color: #3F4242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
 
}

 .parrafoportada { 
   color: white;
   padding-left: 20px;
   padding-right: 10px;
   text-align: justify;
   font-size: 16px flex;
   
}

 .imgportada{
    width:100%;
    height: auto;
   
}

/*Formulario*/

.btn1{
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
   color: #8AAFBC;
   border-radius: 10px;
}

.form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#formulario{
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 30px;
    display: none;
    width: 100%; 
}
    input{
        background-color: white; opacity: 0.7;
        border-color: white;
        margin-top: 10px;
       }

.btn2{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: white;
    background-color: transparent;

}

.tituloServicios{
    margin-top: 70px;
    padding-bottom: 50px;
    color: #3F4242;
    font-family: "Helvetica Neue" sans-serif bold;
    font-size: 5vw;
    text-align: center;

}
/*Carousel */
.tituloCarousel{
    padding-top: 0px;
    padding-left: 60%;
    color: #3F4242;
    font-family: "Roboto"sans-serif bold;
    font-size: 20px; 
    text-align: center;
} 


.listaCarousel{
    color: #3F4242;
    font-family: Helvetica, sans-serif;
    text-align: left;
    padding-left: 70%;
    font-size: 15px;
    margin: 10px;
}

.imgCarousel{
    transition: all 1s linear;
    width: 60%;
    padding-left:30px;
    }

.imgCarousel:hover{
 transform: scale(1.1);
}

/*Aplicaciones*/

.tituloHerramientas {
    margin-top: 70px;
    padding-bottom: 20px;
    color: #3F4242;
    font-family: "Helvetica Neue" sans-serif bold;
    font-size: 4vw;
    text-align: center;
}
.descripcionHerramientas {
    margin-top: 1px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 3%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
   justify-content: center ;
  
 
}

.flex-container div{
    background-color: white;
    width: 100px;
    margin-bottom: 10px;
    display:flex;
   
}

.imgVector {
    width: 100%;
    flex-wrap: wrap;
    
}

.imgVector:hover{
    animation-name: rotarIcono;
    animation-duration: 5s;
    animation-direction: alternate;
}
 @keyframes rotarIcono{
    to {
         transform: rotateY(360deg)
    
     }
    }

    .caja1{
        padding-top: 70px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 100px;    
        text-align: center;
        justify-content: center;
    }
   
    .cont1-flex{
       display:flex;
      justify-content: center;
    }
   
    
    .imgMegusta{
        width: 50%;
        height: 50%;
       }

      .cont-titulo4{
          font-size: 18px;
      }
    
     

      